/* Configurações globais */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Garante que o contêiner ocupe a altura total da tela */
  background-color: #b3d9ff; /* Fundo azul claro, caso seja necessário */
}

/* Cabeçalho */
.header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.subtitle strong {
  color: #ffd700; /* Dourado para destaque */
}

/* Conteúdo principal */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: fade-in 2s ease-in-out;
}

/* Rodapé */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo mais escuro */
  color: white;
  width: 100%; /* Garante que ocupe toda a largura */
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  position: fixed; /* Fixa no rodapé da tela */
  bottom: 0; /* Alinha na parte inferior */
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3); /* Linha de separação */
}

.main-content {
  margin-left: 240px;  /* Deixa espaço para a sidebar */
  padding: 250px;
}

/* Efeito de transição */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
