.searchbar-container {
    margin-top: 1rem;
  }

.filter-btn {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    margin: 5px;
    width: 20px;
    height: 40px;
}

.filter-btn:hover {
    background-color: transparent;
}