/* Sidebar Container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px; /* Largura da sidebar */
  background-color: #1f2937; /* Fundo escuro */
  color: white;
  transform: translateX(-100%); /* Esconde a sidebar */
  transition: transform 0.3s ease-in-out; /* Transição suave ao abrir/fechar */
  z-index: 1000; /* Para aparecer acima de outros elementos */
}

.sidebar.open {
  transform: translateX(0); /* Mostra a sidebar */
}

/* Sidebar Header */
.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  background-color: #111827; /* Fundo mais escuro no cabeçalho */
  border-bottom: 1px solid #374151;
  position: relative;
}

/* Menu */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 12px 16px;
}

.menu li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu li a:hover {
  background-color: #374151; /* Fundo claro ao passar o mouse */
  border-radius: 4px;
}

/* Botão Hambúrguer */
.hamburger-btn {
  position: relative;
  top: 16px;
  width: 50px;
  left: 16px;
  background-color: #ffffff; /* Mesmo fundo da sidebar */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1100; /* Para aparecer acima da sidebar */
}

.hamburger-btn.open {
  left: 250px; /* Move o botão quando a sidebar está aberta */
  transition: left 0.3s ease-in-out;
}

.hamburger-btn i {
  font-size: 35px; /* Tamanho do ícone */
}

.hamburger-btn:hover {
  background-color: transparent;
  color: #6e6e6e; /* Cor ao passar o mouse */
}
