.register-container {
  max-width: 50%;
  margin: auto;
  padding: 45px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease-in-out;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px; /* Espaçamento entre os campos */
}

.form-group label {
  flex: 0 0 100px; /* Largura do rótulo */
}

.form-group input {
  flex: 1; /* Ocupa o restante do espaço */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group .password-wrapper {
  display: flex;
  align-items: center;
  flex: 1; /* Permite que a senha ocupe o restante do espaço */
}

.form-group .password-wrapper i {
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column; /* Ajusta para colunas em telas menores */
    align-items: flex-start;
  }

  .form-group label {
    flex: 0 0 auto; /* Ajusta a largura do rótulo para telas pequenas */
    margin-bottom: 5px;
  }

  .form-group input {
    flex: 1; /* Campo ocupa largura total */
  }
}

.input-with-icon {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 12px;
}

.input-with-icon i {
  margin-right: 8px;
  color: #888;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px;
}

.password-wrapper i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
}

.progress-bar-container {
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-top: 10px; /* Espaço acima da barra */
  margin-bottom: 5px; /* Espaço abaixo da barra */
  width: 100%; /* Garante que ocupe toda a largura do container */
}

.progress-bar {
  height: 100%;
  transition: width 0.3s ease;
}

.progress-bar.fraca {
  width: 5%; /* Proporção corrigida para senhas fracas */
  background: red;
}

.progress-bar.média {
  width: 25%; /* Proporção ajustada para senhas médias */
  background: orange;
}

.progress-bar.forte {
  width: 50%; /* Proporção ajustada para senhas fortes */
  background: rgb(22, 245, 1);
}

.progress-bar.muito-forte {
  width: 100%; /* Proporção máxima para senhas muito fortes */
  background: green;
}

.password-strength-text.fraca {
  color: red;
}

.password-strength-text.média {
  color: orange;
}

.password-strength-text.forte {
  color: rgb(22, 245, 1);
}

.password-strength-text.muito-forte {
  color: green;
}

.password-strength-text {
  margin-top: 5px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
